/*-- scss:defaults --*/
$theme-darkblue: #f5e39e;
$theme-blue: #99D9DD;
$theme-white: #051041;
$theme-yellow: #F4BA02;

$body-bg: $theme-darkblue;
$body-color: $theme-white;
$link-color: $theme-blue;

/*-- scss:rules --*/